.Results__wrapper {
  margin: 6% 0 6% 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Results__wrapper ul {
  width: 80%;
  margin: auto;
}

.Results-noResults {
  margin: 5%;
}
