.Searchbar {
    margin: auto;
}

.Searchbar-input {
    width: 100%;
    line-height: 2.3em;
    text-indent: 32px;
    outline: none;
}

.Searchbar-glass {
    position: relative;
    float: left;
    top: 27px;
    left: 10px;
}