.Searchbar__wrapper {
  display: flex;
  background: black;
}

.Searchbar-input {
  font-size: 16px;
  background: #fafafa;
  width: 100%;
  line-height: 2.3em;
  border: none;
  outline: none;
}

.Searchbar-glass {
  background: #fafafa;
  padding: 6px 12px;
  border: none;
}

@media only screen and (max-width: 600px) {
  .Searchbar-input::placeholder {
    font-size: 12px;
  }
}
