.RowHeaders-content__wrapper {
    display: inline-flex;
    margin: auto;
    justify-content: center;
    flex-direction: row;
    text-align: left;
    width: 80%;
    padding: 1% 0;
    border-bottom: 1px solid gray;
    color: gray;
    float: left;
}

.RowHeaders-title {
    flex: 5;
    font-size: 12px;
}
.RowHeaders-category {
    flex: 3;
    font-size: 12px;
}
.RowHeaders-location {
    flex: 3;
    font-size: 12px;
}
.RowHeaders-spacer {
    flex: 1
}