.CategoryButtons__wrapper {
  float: left;
  box-sizing: border-box;
}

.CategoryButtons__wrapper button {
  margin: 12px 12px 0 0;
  font-size: 10px;
  font-weight: 600;
  border: none;
  padding: 5px;
  border-radius: 5px;
  outline: none;
}
.CategoryButtons__wrapper button:hover {
  transform: scale(1.12);
}

.CategoryButtons__wrapper button.active {
  background: #ffd528;
}

@media only screen and (max-width: 600px) {
  .CategoryButtons__wrapper button:hover {
    transform: none;
  }
}
